In [107]:
import pandas as pd
import numpy as np
import re
import json

In [108]:
wrong_img = ['BNA0814', ' 	BNA1327a ']
special = ['ummeln gaskraftwerk']
not_yet = ['BNA1945'] # kiel
error = ['BNA1276', 'BNA1275', 'BNA0755a', 'BNA0118', 'BNA1336', 'BNA1131']
fraglich = ['"06-08-1195689"', '661-59']

In [109]:
bpm = pd.read_csv("../basic/block_plant_mapper.csv")
bpm['plantid'] = bpm['plantid'].apply(lambda x: str(x).replace('/', '_'))
bpm.drop_duplicates(["plantid"], inplace=True)

In [110]:
pols = pd.read_csv("pollutants.csv")
noprtr = pd.read_csv("noprtr.csv")

In [111]:
testling = pols.merge(bpm, how='outer', on="plantid", sort=False)

In [112]:
t1 = testling.drop_duplicates(subset=["blockid"])

In [113]:
#noprtr

In [114]:
mask = pd.isnull(t1['pollutant'])
t2 = t1[mask]

In [115]:
z = pd.concat([noprtr, noprtr, t2], sort=False)

In [116]:
t3 = z.drop_duplicates(subset="plantid", keep=False)

In [117]:
t3.sort_values("plantid", ascending=False)

,plantid,blockid,year,pollutant,releases_to,amount,potency,unit_2,amount_2,pollutant2
11080,669-01,BNA0378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11082,664-07,BNA0714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11081,664-02,BNA0196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11168,662-22,BNA0318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11167,662-20,BNA1338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11144,661-103,BNA1074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11143,661-102,BNA1400b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11142,661-101,BNA1489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11141,661-100,BNA1403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11087,661-10,BNA1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
testling.shape

(11171, 10)